/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

/* Estilos para ocultar el modal inicialmente */
.modal-overlay:not(.modal-open) {
  display: none;
}

.container {
  /* margin-top: 5rem; */
  position: relative;
  overflow: hidden;
  /* height: 50px; Ajusta la altura según sea necesario */
  /* text-align: left; */
}

.container-models {
  /* position: absolute; */
  /* bottom: -100px; Inicia oculto debajo */
  /* left: 10%; */
  /* transform: translateX(-50%); */
  transition: bottom 1s ease-in-out;
  animation: surgir 1s forwards; /* Animación al llegar a la seccion */
}

/* @keyframes surgir {
  0% {
    bottom: -80px;
  100% {
    bottom: 0px;
  }
} */

@keyframes surgir {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
