<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 mb-6">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Amenidades de Otro Nivel</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">Bienvenido a un espacio de Confort y Relajación.</p>
    </div>
    <swiper-container class="swiper-1"
    navigation="true"
    space-between="30"
    slides-per-view="4"
    speed="500"
    pa
    loop="true"
    autoplay-delay="4000"
    css-mode="true">

    <swiper-slide class="relative overflow-hidden">
      <img class="aspect-[14/13] w-full rounded-2xl object-cover transition-transform duration-250 transform hover:scale-130" src="../../assets/images/cancha_de_paddle.jpg" alt="">
      <h3 class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white px-4 py-2 text-lg font-semibold leading-8 tracking-tight opacity-0 hover:opacity-100 transition-opacity duration-300">Cancha de Paddle</h3>
    </swiper-slide>

      <swiper-slide class="relative">
        <img class="aspect-[14/13] w-full rounded-2xl object-cover" src="../../assets/images/kilo.jpg" alt="">
        <h3 class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white px-4 py-2 text-lg font-semibold leading-8 tracking-tight opacity-0 hover:opacity-100 transition-opacity duration-300">Filtro de Seguridad</h3>
      </swiper-slide>
      <swiper-slide class="relative">
        <img class="aspect-[14/13] w-full rounded-2xl object-cover" src="../../assets/images/cancha_de_fut.jpg" alt="">
        <h3 class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white px-4 py-2 text-lg font-semibold leading-8 tracking-tight opacity-0 hover:opacity-100 transition-opacity duration-300">Cancha de Futbol</h3>
      </swiper-slide>
      <swiper-slide class="relative">
        <img class="aspect-[14/13] w-full rounded-2xl object-cover" src="../../assets/images/casa_club.jpg" alt="">
        <h3 class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white px-4 py-2 text-lg font-semibold leading-8 tracking-tight opacity-0 hover:opacity-100 transition-opacity duration-300">Gimnasio</h3>
      </swiper-slide>
      <swiper-slide class="relative">
        <img class="aspect-[14/13] w-full rounded-2xl object-cover" src="../../assets/images/kilo.jpg" alt="">
        <h3 class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white px-4 py-2 text-lg font-semibold leading-8 tracking-tight opacity-0 hover:opacity-100 transition-opacity duration-300">Filtro de Seguridad</h3>
      </swiper-slide>
      <swiper-slide class="relative">
        <img class="aspect-[14/13] w-full rounded-2xl object-cover" src="../../assets/images/cancha_de_fut.jpg" alt="">
        <h3 class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white px-4 py-2 text-lg font-semibold leading-8 tracking-tight opacity-0 hover:opacity-100 transition-opacity duration-300">Cancha de Futbol</h3>
      </swiper-slide>
      <swiper-slide class="relative">
        <img class="aspect-[14/13] w-full rounded-2xl object-cover" src="../../assets/images/casa_club.jpg" alt="">
        <h3 class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white px-4 py-2 text-lg font-semibold leading-8 tracking-tight opacity-0 hover:opacity-100 transition-opacity duration-300">Gimnasio</h3>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
